.navbar_link {
    margin: 15px;
    cursor: pointer;
    color: #000000;
    display: block;
    text-decoration: none;
    text-transform: none;
    transition: all .3s ease-in-out;
}

.navbar_link:hover {
    color: #E26C69
}